    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      /* display: flex;
      justify-content: space-between;
      align-items: center; */
      background-color: #f9f9f9;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    li button {
        float: right;
        margin: 0 1vh;
      border: none;
      background-color: #ff4d4f;
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
    li button:hover {
      background-color: #d9363e;
    }